<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>hi <%=vc%></h1>
</body>
</html> -->
<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        /* Style for the box */
        .box {
            border: 1px solid #cccccc; /* Border */
            padding: 20px; /* Padding */
            background-color: #C1D3EF; /* Background color */
            width: 100%; /* Set width */
            margin: 0 auto; /* Center horizontally */
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/video.css">
</head>
<body>
    <h1>💻Video Lectures👩‍🏫</h1>

    <div class="box">
        <p>
            To address real-time problems using neural networks, a basic feedforward neural network architecture coupled with the backpropagation learning algorithm is often employed. This combination allows for efficient training on large datasets and facilitates real-time decision-making. Additionally, integrating fuzzy logic techniques such as fuzzy operators, membership functions, fuzzification, and defuzzification methods enhances the neural network's capability to handle uncertainty and imprecision in real-time data processing. By leveraging fuzzy logic alongside neural networks, systems can better interpret and respond to complex, dynamic environments, making them more adaptable and robust in real-world applications.</p>
    </div>
    <br>
    <div id="container">
      <video id='video' controls="controls" preload='none' width="600" poster="https://clevertap.com/wp-content/uploads/2019/04/Neural_Network_Brain_Mimic.jpeg">
        <source id='mp4' src="https://drive.google.com/file/d/1Rmlvx-o3Z1SQ5CAjebtFQCRmW1eq45AQ/view" type='video/mp4' />
        <source id='webm' src="https://drive.google.com/file/d/1Rmlvx-o3Z1SQ5CAjebtFQCRmW1eq45AQ/view" type='video/webm' />
        <source id='ogv' src="https://drive.google.com/file/d/1Rmlvx-o3Z1SQ5CAjebtFQCRmW1eq45AQ/view" type='video/ogg' />
        <!--
              Track to be used for accessibility using the VTT standard. 
    
              See https://www.html5rocks.com/en/tutorials/track/basics/ for more information on how to use text tracks
            -->
        <track kind="subtitles" label="English subtitles" src="subtitles_en.vtt" srclang="en" default>
        </track>
        <!-- 
            We can also add more than one text track and let the user choose which one to play. There is now way to 
            currently do this with the built in controls so it'll have to be scripted -->
        <track kind="subtitles" label="Deutsche Untertitel" src="subtitles_de.vtt" srclang="de">
        </track>
    
        <!-- 
              We're not using Flash as a fallback option.
            -->

      </video>
      <br>
      <div>
        <ul>
      <li style=" border: 1px solid #0a15e8;background-color: #c1d3ef;"><a href="https://drive.google.com/file/d/1jPcVOssBz7m37NyhPHplbe3JqdKyJ9EZ/view" style="text-decoration: none;">Unit 2 - Delta Rule</a></li>
     <br>
      <li style=" border: 1px solid #0a15e8;background-color: #e5e9f0;"><a href="https://drive.google.com/file/d/1L_vBMtJbReROWjuXSM_BmGBbeaA-c_91/view" style="text-decoration: none;">Unit 2 - Radial Basis Function.</a></li>
      <br>
      <li style=" border: 1px solid #0a15e8;background-color: #c1d3ef;"><a href="https://drive.google.com/file/d/1HlFk-bwuUKcm_kQKvnqDHQ-Sv1oMQB0O/view " style="text-decoration: none;">Unit 2 - Backpropagation</a></li>
      <br>
      <li style=" border: 1px solid #0a15e8;background-color: #e5e9f0;"><a href="https://drive.google.com/file/d/1W9vrJ0mPrvmTzLv8r40nqutIIN3wbEOS/view" style="text-decoration: none;">Unit 2 - Pattern association</a></li>
      <br>
      <li style=" border: 1px solid #0a15e8;background-color: #e5e9f0;"><a href="https://drive.google.com/file/d/15zUq1gzwY-EaHYob08AeQ7k4TDGTI1_C/view" style="text-decoration: none;">Unit 3 - Introduction to Fuzzy</a></li>
    
    </ul>
    </div>
    </div> <!-- End Container --> 

    
</body>
</html>
