<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>hi <%=vc%></h1>
</body>
</html> -->
<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        /* Style for the box */
        .box {
            border: 1px solid #cccccc; /* Border */
            padding: 20px; /* Padding */
            background-color: #C1D3EF; /* Background color */
            width: 100%; /* Set width */
            margin: 0 auto; /* Center horizontally */
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/video.css">
</head>
<body>
    <h1>💻Video Lectures👩‍🏫</h1>

    <div class="box">
        <p>
            

            Fuzzification of input variables in fuzzy logic involves converting crisp inputs into fuzzy inputs, allowing for uncertainty and imprecision to be incorporated into the system. This process enables the modeling of real-world phenomena where inputs may not have precise values. On the other hand, Genetic Algorithms (GA) are optimization techniques inspired by the process of natural selection and genetics. They involve iteratively evolving a population of candidate solutions using genetic operators like selection, crossover, and mutation. GAs find applications in various fields such as optimization, machine learning, and computational biology, where finding optimal solutions in complex search spaces is required.</p>
    </div>
    <br>
    <div id="container">
      <video id='video' controls="controls" preload='none' width="600" poster="https://i.ytimg.com/vi/MLPHLm56inQ/maxresdefault.jpg">
        <source id='mp4' src="https://drive.google.com/file/d/1Rmlvx-o3Z1SQ5CAjebtFQCRmW1eq45AQ/view" type='video/mp4' />
        <source id='webm' src="https://drive.google.com/file/d/1Rmlvx-o3Z1SQ5CAjebtFQCRmW1eq45AQ/view" type='video/webm' />
        <source id='ogv' src="https://drive.google.com/file/d/1Rmlvx-o3Z1SQ5CAjebtFQCRmW1eq45AQ/view" type='video/ogg' />
        <!--
              Track to be used for accessibility using the VTT standard. 
    
              See https://www.html5rocks.com/en/tutorials/track/basics/ for more information on how to use text tracks
            -->
        <track kind="subtitles" label="English subtitles" src="subtitles_en.vtt" srclang="en" default>
        </track>
        <!-- 
            We can also add more than one text track and let the user choose which one to play. There is now way to 
            currently do this with the built in controls so it'll have to be scripted -->
        <track kind="subtitles" label="Deutsche Untertitel" src="subtitles_de.vtt" srclang="de">
        </track>
    
        <!-- 
              We're not using Flash as a fallback option.
            -->

      </video>
      <br>
      <div>
        <ul>
      <li style=" border: 1px solid #0a15e8;background-color: #c1d3ef;"><a href="https://www.youtube.com/watch?v=70NW0WvTPg0" style="text-decoration: none;">Unit 4 - Fuzzification of Input Variables</a></li>
     <br>
      <li style=" border: 1px solid #0a15e8;background-color: #e5e9f0;"><a href="https://www.youtube.com/watch?v=o-2O4fmIu3E" style="text-decoration: none;">Unit 4 - Application of Fuzzy Operations</a></li>
      <br>
      <li style=" border: 1px solid #0a15e8;background-color: #c1d3ef;"><a href="https://www.youtube.com/watch?v=byjJNoJMQ48" style="text-decoration: none;">Unit 4 - Fuzzification of Input Variables Example</a></li>
      <br>
      <li style=" border: 1px solid #0a15e8;background-color: #e5e9f0;"><a href="https://www.youtube.com/watch?v=96-u9s6D16k" style="text-decoration: none;">Unit 5 - 
        Genetic Algorithm (GA)
        
        </a></li>
      <br>
      <li style=" border: 1px solid #0a15e8;background-color: #e5e9f0;"><a href="https://www.youtube.com/watch?v=udN28wPqaZI" style="text-decoration: none;">Unit 5 - 
        Genetic Algorithm (GA) Example
        
        </a></li>
    
    </ul>
    </div>
    </div> <!-- End Container --> 

    
</body>
</html>
